<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}集酷商家平台{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="Keywords" content="{% block keywords %}{% endblock %}">
    <link rel="shortcut icon" type="image/png" href="https://qiniu.kikuu.com/app-icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}

{% block script %}{% endblock %}
</body>
</html>
