<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}这里是页面标题{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="Keywords" content="{% block keywords %}{% endblock %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, maximum-scale=3, user-scalable=yes">
    {% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}

{% block script %}{% endblock %}
</body>
</html>
