{% extends 'widget/base/kikuu-tmp-app.njk' %}
{% block body %}
  {% include 'widget/header/kikuu-app-header.njk' %}
  {% block main %}{% endblock %}
  {% include 'widget/footer/kikuu-app-footer.njk' %}
{% endblock %}
