{% extends 'widget/base/kikuu-tmp.njk' %}
{% block body %}
    {% include 'widget/header/kikuu-tmp-header.njk' %}
    <div class="content">
        {% block main %}{% endblock %}
    </div>
    {% include 'widget/footer/kikuu-tmp-footer.njk' %}
{% endblock %}
